 /*General for HTML and PDF*/
body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; }

body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }

a {
  color: #4183C4; }
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 28px;
  color: black; }

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  color: #777777;
  font-size: 14px; }

pre.hljs {
    border:none;
    padding: 12px;
}

code {
    background-color: #EDEDED;
}

p, blockquote, ul, ol, dl, li, table, pre.hljs {
  margin: 15px 0; }

hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 30px; }

ul :first-child, ol :first-child {
  margin-top: 0; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  font-size: 14px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

img {
  max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.nav-container  ul, .nav-container  ol {
    margin-left: 0px;
    padding-left: 0px;
}

.nav-container .toc:after {
  content: "Table of contents";
}

.nav {
    margin:0;
}

.nav-inner > .nav, .nav-inner > .nav > li > .nav {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2px;
    margin-top: 2px;
}

.nav-inner > .nav > li:last-child > .nav {
    border-bottom: none;
}

.nav > li {
    margin: 0;
}

.nav > li > a {
    display: block;
    padding: 3px 18px;
    font-size: 1em;
    font-weight: 500;
}

.nav > li > .nav > li > a {
    padding:2px 28px;
    font-size: 0.92em;
    font-weight: 400;
}

.nav > li > .nav > li > .nav > li  > a {
    padding:2px 36px;
    font-size: 0.86em;
    font-weight: 400;
}

.nav > li > .nav > li > .nav > li > .nav > li  > a {
    padding:2px 44px;
    font-size: 0.86em;
    font-weight: 400;
}

.nav li span {
    margin: 0 0;
    padding: 3px 18px;
    font-size: inherit;
    color:#888
}

/*For HTML*/
.html-doc {
    padding-top: 60px !important;
}

.html-doc .footer {
    font-size: 85%;
    margin-top: 20px;
    width: 250px;
}

.page:before {
    content:"";
    display:block;
    height:55px; /* fixed header height*/
    margin:-55px 0 0; /* negative fixed header height */
}

.page {
    height:1px;
    font-size:1px;
    width: 1px;
    padding:50px 0 0 0;
    margin: -50px 0 0 0;
}

.html-doc .nav-container {
    margin-top: 10px;
    position: relative;
}

.html-doc .logo-img {
    padding: 10px;
    margin:7px 0 0 0;
    max-width:75%;
    max-height:25%;
}

.html-doc .nav-container .toc:after {
    display: block;
    color:#888;
    text-transform: uppercase;
    padding: 4px 18px;
    font-weight: 500;
    font-size:90%
}

.html-doc .nav-container > .nav-inner {
    position: fixed;
}

.html-doc .nav li a:before, .html-doc .nav li span:before {
    content: "\00B7  ";
}

.html-doc .nav li.active > a {
    color:darkred;
}

.html-doc .nav li.active > a:before {
    content: "\25b8  ";
}

.navbar-default .navbar-nav>li>a.generated-by,
.navbar-default .navbar-nav>li>a.generated-by:visited {
    font-size: 85%;
    color:#ADADAD;
    text-shadow: 1px 1px 0 #fff;
}

.navbar-default .navbar-nav>li>a.generated-by:hover {
    color:#666
}

@media (max-width: 992px) {
    .html-doc .nav-container > .nav-inner {
        position: relative;
    }
}

@media (min-width: 768px) {
    .navbar > .container .doc-title {
        margin-left: 0;
    }
    .navbar-right {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .nav-inner {
        min-width: 210px;
    }
}

@media (min-width: 1200px) {
    .nav-inner {
        min-width: 250px;
    }
}

/*For PDF*/
.pdf-doc{
    padding: 0px;
}

.pdf-doc .navbar-toggle {
    display: none;
}

.pdf-doc .coverimg {
    max-width:50%;
}

.pdf-doc .covertitle {
   padding-top: 40%;
   text-align: right;
   font-size: 40px;
}

.pdf-doc .nav-container {
  page-break-before: always !important;
  display: block;
}

.pdf-doc pre.hljs, .pdf-doc code {
    font-size: 80%;
}

.pdf-doc .nav > li > a {
    padding: 3px 6px;
}

.pdf-doc .nav > li > .pdf-doc .nav > li > a {
    padding:2px 16px;
}

.pdf-doc .nav > li > .pdf-doc .nav > li > .pdf-doc .nav > li  > a {
    padding:2px 24px;
}

.pdf-doc .nav > li > .pdf-doc .nav > li > .pdf-doc .nav > li > .pdf-doc .nav > li  > a {
    padding:2px 32px;
}

.pdf-doc .nav li span {
    padding: 3px 6px;
}
